# Use 'openssl rand -base64 48' in a shell to create bearer tokens. Check the README.

# Généré par le commande openssl rand et donc à regénérer si besoin
HOME_ASSISTANT_WEATHER_TOKEN=dev-ha-token,

# Clef intervals.icu api
INTERVALS_API_KEY_ME=
INTERVALS_API_KEY_PARTNER=

# Généré par le commande openssl rand et donc à regénérer si besoin
HOME_ASSISTANT_WELLNESS_ENDPOINT_TOKEN=

# se trouve sur developer dashboard de whoop.
WHOOP_CLIENT_ID=
WHOOP_CLIENT_SECRET=

# Jeton Bearer fourni par https://www.blagues-api.fr/
BLAGUES_API_TOKEN=
